/*MAIN INDEX*/
.index {
    background-image: url(/img/fondo-body-1170px.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 63.8rem;
}

.pages {
    background-image: url(/img/BodyPages1277px.png);
    background-repeat: no-repeat;
    height: 63.8rem;
    width: 100%;
}